name: CI

on:
  push:
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t dengue-mlops .

      - name: Run training (smoke test)
        run: docker run --rm dengue-mlops python -m src.train
